<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main3.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="novaiapapka/views/images/logo2.png"/>
    <title>MoreSkins</title>
</head>
<body>
    <div class="header">
        <div class="header-nav">
            <img class="logo" src="images/logo2.png" alt="">
        </div>
        <div class="header-nav">
            <a href="/">ПРОДАТЬ СКИНЫ</a>
            <a href="/market">КУПИТЬ СКИНЫ</a>
            <a href="#">FAQ</a>
            <a href="#">ГАРАНТИИ</a>
        </div>
        <div class="header-button">
            <i class='bx bxl-youtube' ></i>
            <i class='bx bxl-telegram' ></i>
            <div class="header-login" id="login">
                <i class='bx bxl-steam'></i>
                <span><a href="#">ВОЙТИ</a></span>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="main-wrapper">
            <h1>Покупка скинов</h1>
            <div class="buyskins">
                <div class="filtercon">
                    <div class="price">
                        <div class="priceText">
                            <p>Прайс</p>
                            <div class="priceInput">
                                <input class="priceInput1" type="number" placeholder="От">
                                <input class="priceInput2" type="number" placeholder="До">
                            </div>
                        </div>
                    </div>
                    <div class="filter-nav">
                        <div class="filterItem">
                            <div class="knifes" id="knifes">
                                <div class="knifeText">
                                    <span>Нож</span>
                                    <i class='bx bx-chevron-down'></i>
                                </div>
                            </div>
                        </div>
                        <div class="filterItem">
                             <div class="pistols" id="pistols">
                                <div class="pistolText">
                                    <span>Пистолет</span>
                                    <i class='bx bx-chevron-down'></i>
                                </div>
                            </div>
                        </div>
                        <div class="filterItem">
                            <div class="rifles" id="rifles">
                                <div class="rifleText">
                                    <span>Винтовка</span>
                                    <i class='bx bx-chevron-down'></i>
                                </div>
                            </div>
                        </div>
                        <div class="filterItem">
                            <div class="snipers" id="snipers">
                                <div class="sniperText">
                                    <span>Снайперская винтовка</span>
                                    <i class='bx bx-chevron-down'></i>
                                </div>
                            </div>
                        </div>
                        <div class="filterItem">
                            <div class="machineguns" id="machineguns">
                                <div class="machinegunText">
                                    <span>Пулеметы</span>
                                    <i class='bx bx-chevron-down'></i>
                                </div>
                            </div>
                        </div>
                        <div class="filterItem">
                            <div class="shotguns" id="shotguns">
                                <div class="shotgunText">
                                    <span>Дробовик</span>
                                    <i class='bx bx-chevron-down'></i>
                                </div>
                            </div>
                        </div>
                        <div class="filterItem">
                            <div class="submachineguns" id="submachineguns">
                                <div class="submachinegunText">
                                    <span>Пистолет-пулемет</span>
                                    <i class='bx bx-chevron-down'></i>
                                </div>
                            </div>
                        </div>
                        <div class="filterItem">
                            <div class="gloves" id="gloves">
                                <div class="gloveText">
                                    <span>Пулемет</span>
                                    <i class='bx bx-chevron-down'></i>
                                </div>
                            </div>
                        </div>
                        <div class="filterItem">
                            <div class="stickers" id="stickers">
                                <div class="stickerText">
                                    <span>Наклейки</span>
                                    <i class='bx bx-chevron-down'></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="checkboxButtons">
                        <div class="checkboxcon">
                            <input type="checkbox" id="stattrack" name="cb1">
                            <label for="cb1">с StatTrak™</label>
                        </div>
                        <div class="checkboxcon">
                            <input type="checkbox" id="stattrackoff" name="cb2">
                            <label for="cb2">без StatTrak™</label>
                        </div>
                        <div class="checkboxcon">
                            <input type="checkbox" id="stattrackoff" name="cb3">
                            <label for="cb3">Прямо с завода</label>
                        </div>
                        <div class="checkboxcon">
                            <input type="checkbox" id="stattrackoff" name="cb4">
                            <label for="cb4">Немного поношенное</label>
                        </div>
                        <div class="checkboxcon">
                            <input type="checkbox" id="stattrackoff" name="cb5">
                            <label for="cb5">Поношенное</label>
                        </div>
                        <div class="checkboxcon">
                            <input type="checkbox" id="stattrackoff" name="cb6">
                            <label for="cb6">Закалённое в боях</label>
                        </div>
                        <div class="checkboxcon">
                            <input type="checkbox" id="stattrackoff" name="cb7">
                            <label for="cb7">После полевых испытаний</label>
                        </div>
                    </div>
                </div>
                <div class="rightcon">
                    <div class="searchcon">
                        <div class="search">
                            <i class='bx bx-search-alt-2' ></i>
                            <input type="text" placeholder="Поиск" id="search" autocomplete="off">
                        </div>
                        <div class="filterselect">
                            <div class="selectInf">
                                <span>Цена</span>
                                <i class='bx bx-chevron-down'></i>
                            </div>
                        </div>
                    </div>
                    <div class="marketcon">
                        <div class="market" id="market">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-inf">
            <span>© 2025 MoreSkins, Все права защищены</span>
            <span>Powered by Steam. Not affiliated with Valve Corp.</span>
        </div>
        <img src="images/logo2.png" alt="">
    </div>

    <script src="main3.js"></script>
</body>
</html>