<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./main.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="images/logo2.png" />
    <title>| MoreSkins |</title>
</head>
<body>
    <div class="header">
        <div class="header-nav">
            <img class="logo" src="images/logo2.png" alt="">
        </div>
        <div class="header-nav">
            <a href="/">ПРОДАТЬ СКИНЫ</a>
            <a href="/market">КУПИТЬ СКИНЫ</a>
            <a href="#">FAQ</a>
            <a href="#">ГАРАНТИИ</a>
        </div>
        <div class="header-button">
            <i class='bx bxl-youtube' ></i>
            <i class='bx bxl-telegram' ></i>
            <div class="header-login" id="login">
                <i class='bx bxl-steam'></i>
                <span><a href="#">ВОЙТИ</a></span>
            </div>
        </div>
    </div>
    <div class="wrap-separator">
        <div class="separator">
            <span>ДОБРО ПОЖАЛОВАТЬ НА САЙТ <span>MoreSkins</span>!</span>
        </div>
    </div>
    <div class="cover">
        <div class="cover-wrapper">
            <div class="top-inf">
            <span class="title">ПРОДАТЬ СКИНЫ <span>CS2</span></span>
            <span class="title2"><span>CS2</span> за реальные деньги!</span>
            <div class="infButton">
                <span>ПРОДАТЬ СКИНЫ</span>
            </div>
        </div>
        <div class="bottom-inf">
            <div class="inf1">
                <span>ВЫГОДА</span>
                <p>Самые выгодные цены на мгновенную продажу</p>
            </div>
            <div class="inf2">
                <span>БЫСТРЫЕ ВЫПЛАТЫ</span>
                <p>Среднее время поступления средств - 5 минут</p>
            </div>
        </div>
        </div>
    </div>
    <div class="separator2"></div>
    <div class="intres-inf">
        <span>Хочешь слить скины из <span>CS2</span> быстро и без гемора? Залетай на <span>MoreSkins</span>! Просто заходишь через Steam, выбираешь скины, и в пару кликов получаешь бабки — на карту или любую платёжку. Никаких торгов, муторных переписок и ожиданий. Всё чётко, моментально и без лишней суеты. <span>MoreSkins</span> — самый лёгкий способ превратить твои скины в реальные деньги.</span>
    </div>
    <div class="last-deals">
        <h1>Последние сделки</h1>
        <div class="slider">
            <div class="slider-tracker">

                <div class="slide">
                    <div class="card">
                        <img src="images/fracturecase.png" alt="">
                        <p>Fracture case</p>
                        <span>₸ 115.3</span>
                    </div>
                </div>
                <div class="slide">
                    <div class="card">
                        <img src="images/recoilcase.png" alt="">
                        <p>Recoil case</p>
                        <span>₸ 90.03</span>
                    </div>
                </div>
                <div class="slide">
                    <div class="card">
                        <img src="images/recoilcase.png" alt="">
                        <p>Recoil case</p>
                        <span>₸ 89.7</span>
                    </div>
                </div>
                <div class="slide">
                    <div class="card">
                        <img src="images/fracturecase.png" alt="">
                        <p>Fracture case</p>
                        <span>₸ 115.1</span>
                    </div>
                </div>
                <div class="slide">
                    <div class="card">
                        <img src="images/rezantheready.png" alt="">
                        <p>Rezan Ready agent</p>
                        <span>₸ 3571.36</span>
                    </div>
                </div>
                <div class="slide">
                    <div class="card">
                        <img src="images/revolutioncase.png" alt="">
                        <p>Revolution case</p>
                        <span>₸ 221.14</span>
                    </div>
                </div>
                <div class="slide">
                    <div class="card">
                        <img src="images/recoilcase.png" alt="">
                        <p>Recoil case</p>
                        <span>₸ 86.56</span>
                    </div>
                </div>
                <div class="slide">
                    <div class="card">
                        <img src="images/profshahmat.png" alt="">
                        <p>Prof. Shahmat agent</p>
                        <span>₸ 3487.55</span>
                    </div>
                </div>
                <div class="slide">
                    <div class="card">
                        <img src="images/dreamsknightmares.png" alt="">
                        <p>Dreams & Nightmares case</p>
                        <span>₸ 824.61</span>
                    </div>
                </div>
                <div class="slide">
                    <div class="card">
                        <img src="images/kilowattcase.png" alt="">
                        <p>Kilowatte case</p>
                        <span>₸ 205.3</span>
                    </div>
                </div>
                <div class="slide">
                    <div class="card">
                        <img src="images/kilowattcase.png" alt="">
                        <p>Kilowatte case</p>
                        <span>₸ 205.3</span>
                    </div>
                </div>
                <div class="slide">
                    <div class="card">
                        <img src="images/revolutioncase.png" alt="">
                        <p>Revolution case</p>
                        <span>₸ 219.5</span>
                    </div>
                </div>
                <div class="slide">
                    <div class="card">
                        <img src="images/revolutioncase.png" alt="">
                        <p>Revolution case</p>
                        <span>₸ 222.1</span>
                    </div>
                </div>
                <div class="slide">
                    <div class="card">
                        <img src="images/fracturecase.png" alt="">
                        <p>Fracture case</p>
                        <span>₸ 115.3</span>
                    </div>
                </div>
                <div class="slide">
                    <div class="card">
                        <img src="images/profshahmat.png" alt="">
                        <p>Prof. Shahmat agent</p>
                        <span>₸ 3487.55</span>
                    </div>
                </div>

                <div class="slide">
                    <div class="card">
                        <img src="images/fracturecase.png" alt="">
                        <p>Fracture case</p>
                        <span>₸ 115.3</span>
                    </div>
                </div>
                <div class="slide">
                    <div class="card">
                        <img src="images/recoilcase.png" alt="">
                        <p>Recoil case</p>
                        <span>₸ 90.03</span>
                    </div>
                </div>
                <div class="slide">
                    <div class="card">
                        <img src="images/recoilcase.png" alt="">
                        <p>Recoil case</p>
                        <span>₸ 89.7</span>
                    </div>
                </div>
                <div class="slide">
                    <div class="card">
                        <img src="images/fracturecase.png" alt="">
                        <p>Fracture case</p>
                        <span>₸ 115.1</span>
                    </div>
                </div>
                <div class="slide">
                    <div class="card">
                        <img src="images/rezantheready.png" alt="">
                        <p>Rezan Ready agent</p>
                        <span>₸ 3571.36</span>
                    </div>
                </div>
                <div class="slide">
                    <div class="card">
                        <img src="images/revolutioncase.png" alt="">
                        <p>Revolution case</p>
                        <span>₸ 220</span>
                    </div>
                </div>
                <div class="slide">
                    <div class="card">
                        <img src="images/recoilcase.png" alt="">
                        <p>Recoil case</p>
                        <span>₸ 86.56</span>
                    </div>
                </div>
                <div class="slide">
                    <div class="card">
                        <img src="images/profshahmat.png" alt="">
                        <p>Prof. Shahmat agent</p>
                        <span>₸ 3487.55</span>
                    </div>
                </div>
                <div class="slide">
                    <div class="card">
                        <img src="images/dreamsknightmares.png" alt="">
                        <p>Dreams & Nightmares case</p>
                        <span>₸ 824.61</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="last-deals-inf">
        <div>
            <p class="deals-infP">5 530 141</p>
            <span class="deals-infSpan">вещей продано</span>
        </div>
        <div class="deals-border">
            <p class="deals-infP">9.6</p>
            <span class="deals-infSpan">средняя оценка</span>
        </div>
        <div>
            <p class="deals-infP">3</p>
            <span class="deals-infSpan">года на рынке</span>
        </div>
    </div>
    <div class="footer">
        <div class="footer-inf">
            <span>© 2025 MoreSkins, Все права защищены</span>
            <span>Powered by Steam. Not affiliated with Valve Corp.</span>
        </div>
        <img src="images/logo2.png" alt="">
    </div>

    <div class="login-popup" id="popup">
        <div class="popup-con">
            <div class="popup-body">
                <p>ЛОГИН</p>
                <form action="/login" method="POST" id="loginForm">
                    <input name="name" maxlength="16" minlength="4" id="loginName" type="text" placeholder="Никнейм" required>
                    <input name="password" maxlength="16" minlength="4" id="loginPassword" type="password" placeholder="Пароль" required>
                    <button type="submit">ВОЙТИ</button>
                    <p>Нет аккаунта? <span id="regpopup">Создать</span></p>
                    <span class="message" id="check"></span>
                </form>
                <div class="popup-remove" id="popupRemove">&#10006</div>
            </div>
        </div>
    </div>

    <div class="reg-popup" id="popup2">
        <div class="popup-con">
            <div class="popup-body">
                <p>НОВЫЙ АКККАУНТ</p>
                <form action="/register" method="POST" id="regForm">
                    <input name="name" maxlength="16" minlength="4" id="regName" type="text" placeholder="Никнейм" required>
                    <input name="email" id="regEmail" type="email" placeholder="Электронная почта" required>
                    <input name="password" maxlength="20" minlength="8" id="regPassword" type="password" placeholder="Пароль" required>
                    <button type="submit">Создать</button>
                    <p>Уже есть аккаунт? <span id="loginpopup">Войти</span></p>
                    <span class="message" id="check2"></span>
                </form>
                <div class="popup-remove" id="popupRemove2">&#10006</div>
            </div>
        </div>
    </div>

    <script src="./main.js"></script>
</body>
</html>