body{
    margin: 0;
    padding: 0;
    font-family: open sans, sans-serif;
    background-color: #1a1c21;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1c21;
    padding: 3px 290px;
}
.header-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    position: sticky;
}
.header-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.header-button i{
    fill: #999ca4;
    color: #999ca4;
    width: 18px;
    height: 18px;
}
.header-button .header-login i{
    fill: #fff;
    color: #fff;
    width: 18px;
    height: 18px;
}
.header-login{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    text-align: center;
    padding: 13px 25px;
    border-radius: 15px;
    background-color: rgba(0, 124, 203, 1);
    cursor: pointer;
}
.header-login span{
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}
.header-login span a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}
.header-nav a{
    color: #cbcdd2;
    text-decoration: none;
}
.header-nav a:hover{
    color: rgba(0, 124, 203, 1);
}
.logo{
    width: 116px;
    width: 100px;
}
.main{
    margin: 0 auto 30px auto;
    padding-top: 20px;
    color: #fff;
}
.main-wrapper{
    padding: 10px 150px;
}
.main-wrapper h1{
    color: #d1d1d1;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 5px;
}
.buyskins{
    background-color: #25282e;
    height: 100vh;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 220px auto;
    min-height: 350px;
    position: relative;
    box-shadow: 0 10px 15px 0 rgba(18, 19, 20, .59);
}
/* filtercon */
.filtercon{
    display: flex;
    flex-direction: column;
    padding: 30px 20px 30px 30px;
}
.price{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.priceText{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.priceText{
    font-size: 16px;
    font-weight: 400;
    color: #fefefe;
}
.priceInput{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.priceInput input{
    width: 70px;
    color: #fefefe;
    font-size: 15px;
    padding: 10px 10px;
    outline: 0;
    border: 1px solid rgba(137, 143, 151, 0.59);
    background-color: rgba(71, 75, 80, 0.59);
}
.priceInput1{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.priceInput2{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.filter-nav{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.filter-nav div div span{
    color: #fefefe;
    font-weight: 600;
}
.filter-nav .filterItem{
    cursor: pointer;
}
.checkboxButtons{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 5px;
}
.checkboxButtons .checkboxcon label{
    color: rgba(189, 189, 189, 0.59);
    font-size: 12px;
    font-weight: 200;
}
/* rightcon */
.rightcon{
    padding: 30px 20px;
}
.searchcon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.search{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    position: relative;
}
.search i{
    font-size: 15px;
    position: absolute;
    bottom: 12px;
    left: 15px;
}
.search input{
    color: #fefefe;
    font-size: 15px;
    border-radius: 5px;
    padding: 10px 40px;
    outline: 0;
    border: 1px solid rgba(137, 143, 151, 0.59);
    background-color: rgba(71, 75, 80, 0.59);
}
.filterselect{
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid rgba(137, 143, 151, 0.59);
    background-color: rgba(71, 75, 80, 0.59);
}
.marketcon{
    border: 0;
}
.market{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.item{
    border: 1px solid rgba(94, 99, 105, 0.59);
    background-color: rgba(48, 50, 53, 0.59);
    cursor: pointer;
    height: 230px;
    text-decoration: none;
    color: #fefefe;
    position: relative;
    width: 220px;
    margin-top: 20px;
    transition: .1s;
}
.item:hover{
    background-color: rgba(78, 83, 88, 0.59);
    border: none;
}
.item img{
    width: 160px;
    margin-top: 10px;
    padding: 0;
    margin: 0 auto;
    display: block;
}
.item .itemBottom{
    font-size: 12px;
    position: absolute;
    bottom: 45px;
    left: 10px;
    padding: 0 5px 5px 5px;
}
.item .itemBottom .itemName{
    color: #fefefe;
    font-size: 12px;
    font-weight: 400;
    background-color: transparent;
}
.item .itemBottom .itemPrice{
    color: #fefefe;
    font-size: 15px;
    font-weight: 600;
    background-color: transparent;
}
.item .cart{
    color: rgba(170, 170, 170, 0.59);
    font-weight: 600;
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 5px 15px;
    transition: .3s;
}
.cart:hover{
    transition: .1s;
    color: rgba(0, 124, 203, 1)
}
.item .cart-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-size: 15px;
    width: 100%;
}

/* footer */
.footer{
    display: flex;
    justify-content: space-between;
    padding: 20px 250px;
    flex-direction: row;
    background-color: #23252a;
    align-items: center;
}
.footer .footer-inf{
    display: flex;
    flex-direction: column;
}
.footer-inf span{
    color: #6b6e77;
    font-size: 12px;
    font-weight: 500;
}
.footer img{
    width: 100px;
    height: 100px;
}